/*顶部文字  */
#toptext{
	font-size: 30px;
	position:absolute;
	left:35%;
	top:25%;
	letter-spacing: 15px;
	font-weight:bold;
}
/* 搜索框 */
.textbox.searchbox{
	position:absolute;
	left:65%;
	top:65%;	
}

